/*
1. posicionamiento
2. Modelo de caja (Box Model)
3. Tipografía 
4. Visuales
5. Otros
*/
:root {
  /* Colores */ 
  --F-Color1: #88ABE5;
  --F-Color2: #A0BCEA;
  --F-Color3: #C3D5F2;
  --F-Color4: #001D4E;
  --F-Color5: #F3F8FF;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Reem Kufi', sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #88ABE5 16.69%, #F3F8FF 100%);
}
header img {
  width: 150px;
  height: 94px;
  margin-top: 20px;
  align-self: center;
}
.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 20px;
  text-align: center;
  align-self: center;
}
.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--F-Color4)
}
.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--F-Color4);
}
.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 5px;
  width: 230px;
  height: 48px;
  background-color: var(--F-Color2);
  /* Sombra */
  box-shadow: 0px 4px 8px rgba(89, 73, 0.6);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--F-Color4);
}
.header--button span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  background-image: url('./assets/icons/arrow-down.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 7px;
}  
main {
  width: 100%;
  height: auto;
  background-color: var(--F-Color5);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container .backgroundImg {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url('./assets/imgs/foto.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--F-Color4);
}
.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--F-Color4);
}